<app-nav></app-nav>
<div class="container">
    <div class="main">
        <div class="display-task" *ngIf="task">
            <div class="task-value task-name">{{task.name}}</div>
            <div class="task-time">
                <span>{{task.hours}} hours : {{task.minutes}} minutes</span>
            </div>
        </div>
        <div class="add-task">
            <input [(ngModel)]="des" type="text" placeholder="Enter work">
            <button (click)="addTask()">Add</button>
        </div>
        <div class="display-subtask">
            <div *ngFor="let task of subTask" class="subtask-card">
                <div [class.done]="task.done" class="subtask-value">{{task.description}}</div>
                <button class="toggleButton" [class.done]="task.done" (click)="toggleDone(task)">{{task.done ? "Undo" : "Done"}}</button>
                <button class="Delete-btn" (click)="DeleteBtn(task)">Delete</button>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="timer-section">
            <div class="display-section">
                <span style="padding-right: 20px;">{{hours}} hours : {{minutes}} minutes </span>
                <span>{{seconds}} seconds</span>
            </div>
            <div class="timer-btn-section">
                <button class="Start-btn" (click)="startTimer()">Start</button>
                <button class="Stop-btn" (click)="StopTimer()">Stop</button>
                <button class="Pause-btn" (click)="resetTimer()">Reset</button>
            </div>
        </div>
        <img class="image" src="assets\images\pics.jpg" alt="motive">
        <div class="Task-done-back-button-section">
            <button class="Done-btn" (click)="doneTask()" >DONE</button>
            <button class="Task-Delete-btn" (click)="deleteTask()" >Delete</button>
            <button class="Task-Back-btn" routerLink="/task-list">Back</button>
        </div>
    </div>
</div>