<app-nav></app-nav>
<div class="main">
  <div class="display-task" *ngIf="task">
    <div class="task-value task-name">{{task.name}}</div>
    <div class="task-time">
      <span>{{task.hours}} hours</span>
      <span> : {{task.minutes}} minutes</span>
    </div>
  </div>
  <div class="display-subtask">
    <div class="add-task">
      <input [(ngModel)]="des" type="text" placeholder="Enter work">
      <button (click)="addTask()">Add</button>
    </div>
    <div *ngFor="let task of subTask" class="subtask-card">
      <div [class.done]="task.done" class="subtask-value">{{task.description}}</div>
      <button class="toggleButton" [class.done]="task.done" (click)="toggleDone(task)">{{task.done ? "Undo" :"Done"}}</button>
    </div>
  </div>
</div>